<!-- <p *ngFor="let s of data">{{s.titolo | json}}</p> -->
{{generim|json}}
<!-- <div class="container-fluid">
  
  <table class="table table-striped">
    <thead>
    <th>id</th>
    <th>titolo</th>
    <th>generi</th>
    <th>tipo</th>
    <th>episodi</th>
    <th>rating</th>
          
    </thead>
    <tbody>
      <tr *ngFor="let s of scelta">
        <td>{{ s.id }}</td>
        <td>{{s.titolo }}</td>
        <td>{{ t.generi }}</td>
        <td>{{ t.tipo }}</td>
        <td>{{ t.episodi }}</td>
        <td>{{ t.rating }}</td>
            
      </tr>
      </tbody>
  </table>
  </div> -->