<div class="container circle-container">
  <div class="ring"></div>
  <section class="mx-auto d-block">
    <img [src]="gzl_r" class="image pull-right" id="reg" [routerLink]="['/Register']">
    <img [src]="cvr_white" id="white" class="image">
    <img [src]="bc_level" id="bc" class="image">
    <img [src]="gzl_level" id="gzl" class="image">
    <img [src]="city_level" id="city" class="image">
  </section>

  <h1 class="text-center">
    TUTTO CIO' CHE CERCHI IN UN SOLO SITO
  </h1>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-6 ">
      <a class="btn hover_image" id="btn" type="submit" [routerLink]="['/TipoRicercaManga']">
        <div class="centered">MANGA</div>
        <img [src]="manga_bc" class="hide btn-manga">
      </a>
    </div>
    <div class="col-lg-6">
      <a class="btn hover_image" id="btn" type="submit" [routerLink]="['/TipoRicercaAnime']">
        <div class="centered">ANIME</div>
        <img [src]="anime_bc" class="hide btn-anime">
      </a>
    </div>
  </div>
</div>