<div class="dropdown" data-control="checkbox-dropdown">
  <label class="dropdown-label">Select</label>
    
    <label class="dropdown-option" *ngFor="let g of genere">
      <input type="checkbox" name="dropdown-group" value="Selection 1" />
      {{g.tipo}}
    </label>
  
</div>
<hr>
<div class="container-fluid">
  
    <table class="table table-striped">
      <thead>
        <th>Nome</th>
        <th>Generi</th>
        <th>Tipo</th>
        <th>Episodi</th>
        <th>Rating</th>
            
      </thead>
      <tbody>
        <tr *ngFor="let g of genere">
            <td>{{ g.nome }}</td>
            <td>{{ g.generi }}</td>
            <td>{{ g.tipo }}</td>
            <td>{{ g.episodi }}</td>
            <td>{{ g.rating }}</td>
              
        </tr>
        </tbody>
    </table>
    </div> 