<div class="hero">
    <div class="form-box">
        <div class="button-box">
            <div id="btn2"></div>
            <button type="button" class="toggle-btn"><h1>REGISTRAZIONE</h1></button>
        </div>
        <form class="input" action="/register" method = "POST">
            <p>username <input type = "text" name = "username" class="input-field" required/></p>
            <p>Email<input type="email" name="email" placeholder="email" class="form-control input-field" required></p>
            <p>Password <input type = "password" name = "pwd" class="input-field" required/></p>
            <p>Confirm Password <input type = "password" name = "cpwd" class="input-field" required/></p>
            <p><a id="btn" type="submit" [routerLink]="['Home']">Inizia Ora!</a></p>
            <div class="link">
            <p><a [routerLink]="['/Login']">Hai già effettuato l'accesso?Effettua il Login!</a></p>
            </div>
        </form>
    </div>
</div>