
    <!-- cose da sistemare: centrare i bottoni, -->

  <div class="container-fluid text-center min-vh-100 flex-column bkg d-flex aligns-items-center">

    <div class="row"  style="min-height: 100vh">

      <div class="col-2"></div>
      <div class="col-3">
        <a class="btn d-inline-block btn-lg" id="btn" type="submit" [routerLink]="['/TitoloAnime']">
          <div class="text-center text-wrap display-1 text-white">TITOLO</div>
        </a>

      </div>

      <div class="col-2"></div>

      <div class="col-3">
        <a class="btn d-inline-block btn-lg" id="btn" type="submit" [routerLink]="['/GenereAnime']">
          <div class="text-center text-wrap display-1 text-white">GENERE</div>
        </a>

      </div>


      <div class="col-2"></div>
    </div>

</div>