<div class="container text-center">
  <div class="">
    <div class="row gap-2 d-flex flex-nowrap flex-row position-absolute top-50 start-50 translate-middle justify-content-evenly rounded-3">

      <div class="col-md-12 col-lg-6">
        <a class="btn d-inline-block btn-lg" id="btn" type="submit" [routerLink]="['/TitoloAnime']">
          <div class="text-center text-wrap display-1 text-white">TITOLO</div>
        </a>
      </div>

      <div class="col-md-12 col-lg-6">
        <a class="btn d-inline-block btn-lg" id="btn" type="submit" [routerLink]="['/GenereAnime']">
          <div class="text-center text-wrap display-1 text-white">GENERE</div>
        </a>
      </div>
    </div>

  </div>
</div>