<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h1 class="text-center font-monospace">Login</h1>

            <form [formGroup]="form" (ngSubmit)="submit()">

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <div class="form-outline mb-12">
                        <input type="email" class="form-control input-field" id="email" placeholder="E-Mail"
                            name="email" formControlName="email">
                    </div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <div class="form-outline mb-12">
                        <input type="password" class="form-control input-field" id="password" placeholder="Password"
                            name="pwd" formControlName="pwd">
                    </div>
                </div>

                <!-- Conferma Password input
                <div class="form-outline mb-4">
                    <div class="form-outline mb-12">
                        <input type="password" class="form-control input-field" id="cpwd"  placeholder="Conferma Password" name="cpwd" formControlName="password" required>
                    </div>
                </div> -->

                <!-- Submit button -->

                <input class="btn" id="btn" type="submit" [disabled]="!form.valid" />
            </form>

        </div>
    </div>
</div>